.text-big {
    font-size: 17px;
}
.text-big>div {
    margin-bottom: 5px;
}

.form-control {
    background-color: #FFFFFF;
    border: 1px solid #717171;
    border-radius: 4px;
    box-shadow: none;
    color: #000;
    height: 38px;
    padding: 6px 16px;
}


.form-control::-moz-placeholder {
    color: #717171;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #717171
}

.form-control::-webkit-input-placeholder {
    color: #717171
}

.empty-value {
    font-style: italic;
    color: #777;
    font-size: 15px;
}
