<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    metadata-complete="false"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>com.fpt.router.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <servlet-class>com.fpt.router.web.servlet.StartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/list</url-pattern>
        <url-pattern>/paging</url-pattern>
        <url-pattern>/detail</url-pattern>
        <url-pattern>/api/twopoint</url-pattern>
        <url-pattern>/main</url-pattern>
        <url-pattern>/child</url-pattern>
        <url-pattern>/content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartupServlet</servlet-name>
        <url-pattern>/StartupServlet</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>/WEB-INF/hello.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <!--<filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.fpt.router.web.framework.CharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <!--<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/common/error_404.jsp</location>
    </error-page>-->

    <!--<error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/common/error_500.jsp</location>
    </error-page>-->

</web-app>
